*{
    margin: 0px;
    padding: 0px;
}
.jumbotron{
    margin-top: 50px;
    color: #0069d9;
    background-color: #ccc;
    text-align: center;
}
#breadcrumb{
    margin-top: -35px;
}
.imgCarrusel{
    width: 2000px;
    height: 320px;
}
.img-fluid{
    width: 1400px;
    height: auto;
}
.card{
    margin-left: 10px;
    border-radius: 10px;
}
.card-hotel:hover{
    scale: 1.01;
    box-shadow: 0px 0px 35px gray !important;
}
.card-hotel{
    /*margin: 10px;*/
    flex: 1 250px;
    padding: 2px 0px 1px 0px;
    margin-top: 10px;
}
.oi-star{
    color: gold;
    text-shadow: 1px 1px 1px gray;
}
.collapses,.card-header,.card-title, .card-footer{
    text-align: center;
}
.card-footer{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-details{
    margin: 5px;
    width: 95%;
   /* position: absolute;*/
    left: 0;
    bottom: 0;
    background-color: #0069d9;
    
}


.btn-contacto{
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: green;
}

footer{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 0 10px ;
    background-color: #ccc;
  color: #0069d9;
}
footer h3{
    font-weight: bold;
    text-align: center;
}

.footer-address-icon{
    padding-right: 10px;
}


